* {
    margin: 0;
}

.navbar {
    position: fixed; /* Make the navbar fixed at the top */
    top: 3%;
    left: 0%;
    right: 0%;
    width: 100%;
    background-color: transparent; /* Make the navbar transparent */
    z-index: 1000; /* Ensure the navbar is on top of other elements */
  }
  
  .container {
    max-width: 100%; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    display: flex; /* Use flexbox to layout the navbar content */
    justify-content: space-between; /* Space out the navbar content evenly */
    align-items: center; /* Vertically center the navbar content */
  }
  
  .burger-menu {
    /* Add styles for the burger menu here */
    margin-left: 3%;
  }

  .burgerbillede {
    width: 75%;
    height: auto;
  }
  
  .logo {
    /* Add styles for the logo here */
  }
  
  .shopping-cart {
    /* Add styles for the shopping cart here */
    margin-right: 3%;
  }

  .video {
    width: 100%;
    height: auto;
  }
  