html {
    scroll-behavior: smooth;
  }
/* Grundlæggende styling */
body {
   /* font-family: Arial, sans-serif;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #DFCFC2;
}

/* Hero sektion */
.hero {
    background-image: url('/images/japansk-ret-abonnement.jpg'); /* Baggrundsbillede */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    flex-shrink: 0;
}

.hero-content {
    /*background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: Teko;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hero-btn {
    background-color: #3272B8;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    /*border-radius: 5px;*/
    font-size: 1.2em;
    cursor: pointer;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hero-btn:hover {
    background-color: #7BB1EC;
}

/* Abonnement pakker sektion */
.abonnement-pakker {
    background-color: #F9F6F1;
    padding: 50px 0;
    text-align: center;
}

.abonnement-pakker h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    font-family: Teko;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pakke {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    max-width: 930px;
    /*border-radius: 10px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pakke:hover{
    background-color:#DFCFC2;
}

.pakke h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-family: Teko;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pakke p {
    font-size: 1.2em;
    margin: 5px 0;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.button-valg {
    background-color: #DFCFC2;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    /*border-radius: 5px;*/
    cursor: pointer;
    font-size: 1.2em;
    display: inline-block;
    text-align: center;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.button-valg:hover {
    background-color: #647941;
    color:#fff;
}