.hero {
    position: relative;
    height: 75vh;
    background-image: url('images/heromaaltidskasse.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    height: 100px;
}

.hero h1 {
    color: white;
    text-align: center;
    font-size: 24px;
}

.content-wrapper {
    display: flex;
    position: relative;
    padding: 20px;
}

.filter-box {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
    margin-right: 20px;
    position: sticky;
    top: 25%;
    align-self: flex-start;
    max-height: calc(100vh - 40px); /* Viewport height minus top and bottom margin */
    overflow-y: auto;
}

.filter-box h2 {
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.filter-box ul {
    list-style-type: none;
    padding: 0;
    margin-right: 5%;
    margin-left: 5%;
}

.filter-box li {
    margin-bottom: 10px;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Alt bokse relateret til menuen*/
.menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr)); /* Adjust minmax as needed */
    gap: 20px; /* Reduced gap slightly */
    flex-grow: 1;
    padding: 1%;
}

.menu-item {
    background-color: #f5f5f5;
    text-align: center;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1.1; 
    max-width: 300px; 
    margin: 0 auto; 
}

.menu-item img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.menu-item-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu-item:hover .menu-item-content {
    opacity: 1;
}

.menu-item h3 {
    margin: 10px 0;
    font-family: 'Teko', sans-serif;
    font-size: 22px; 
}

.menu-item .description {
    font-family: 'Sen', sans-serif;
    font-size: 14px;
    color: #333;
}

.vaelg-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 15px;
    font-family: 'Teko', sans-serif;
    font-size: 18px;
    cursor: pointer;
    align-self: center;
    width: 100%;
}

.filter-grid-info {
    display: flex;
    flex-direction: column;
}

.info-box {
    background-color: #e6e6e6;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}